{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard | {{ app_name }}{% endblock %}

{% block content %}
  {% include "dashboard/includes/hero.html" %}
  {% include "dashboard/includes/focus.html" %}
  {% include "dashboard/includes/stats.html" %}
  {% include "dashboard/includes/charts.html" %}
  {% include "dashboard/includes/flow.html" %}
  {% include "dashboard/includes/activity.html" %}
{% endblock %}

{% block extra_scripts %}
  {{ dashboard_charts|json_script:"dashboard-charts-data" }}
  <script src="{% static 'vendor/chart.js/4.4.3/chart.umd.min.js' %}" integrity="sha384-JUh163oCRItcbPme8pYnROHQMC6fNKTBWtRG3I3I0erJkzNgL7uxKlNwcrcFKeqF"></script>
  <script src="{% static 'js/dashboard-charts.js' %}"></script>
{% endblock %}
